/* screen - monark-mono-uprising */

.monark-mono-uprising {
  align-items: center;
  background: linear-gradient(180deg, #3679c4 0%, #0d1659 72.53%, #143559 100%);
  background-color: rgba(255,255,255,1.0);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.monark-mono-uprising .overlap-group2 {
  height: 377px;
  margin-right: 0.1px;
  position: relative;
  width: 375px;
}

.monark-mono-uprising .line-1 {
  height: 131px;
  left: 0;
  mix-blend-mode: color-dodge;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 175px;
}

.monark-mono-uprising .line-4 {
  height: 118px;
  left: 31px;
  mix-blend-mode: color-dodge;
  object-fit: cover;
  position: absolute;
  top: 236px;
  width: 203px;
}

.monark-mono-uprising .image-20 {
  height: 375px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 375px;
}

.monark-mono-uprising .tikcode {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  gap: 2px;
  height: 18px;
  left: 16px;
  min-width: 18px;
  position: absolute;
  top: 15px;
}

.monark-mono-uprising .tikcode-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-height: 18px;
  width: 8px;
}

.monark-mono-uprising .path-131 {
  height: 8px;
  object-fit: cover;
  width: 8px;
}

.monark-mono-uprising .path-container {
  align-items: flex-start;
  display: flex;
  gap: 1px;
  min-width: 8px;
}

.monark-mono-uprising .path-131-1 {
  height: 8px;
  object-fit: cover;
  width: 2px;
}

.monark-mono-uprising .monark-mono-uprising-1 {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 80.0px;
  margin-top: 36px;
  min-height: 20px;
  min-width: 189px;
  white-space: nowrap;
}

.monark-mono-uprising .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 31px;
  height: 38px;
  margin-top: 2px;
  min-width: 269px;
}

.monark-mono-uprising .path-container-1 {
  height: 29px;
  position: relative;
  width: 36px;
}

.monark-mono-uprising .path-7 {
  height: 14px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 36px;
}

.monark-mono-uprising .path-8 {
  height: 8px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 14px;
}

.monark-mono-uprising .path-9 {
  height: 20px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2px;
}

.monark-mono-uprising .free-download {
  -webkit-text-stroke: 1px var(--white);
  align-self: flex-end;
  color: #0f44a3;
  font-family: var(--font-family-work_sans);
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23px;
  min-height: 29px;
  min-width: 202px;
  white-space: nowrap;
}

.monark-mono-uprising .massive-sound-mono {
  height: 59px;
  letter-spacing: 0;
  line-height: 10px;
  margin-right: 3.0px;
  margin-top: 10px;
  width: 280px;
}

.monark-mono-uprising .overlap-group1 {
  height: 243px;
  margin-top: 27px;
  position: relative;
  width: 375px;
}

.monark-mono-uprising .line-9 {
  height: 98px;
  left: 29px;
  mix-blend-mode: color-dodge;
  object-fit: cover;
  position: absolute;
  top: 81px;
  width: 142px;
}

.monark-mono-uprising .image-22 {
  height: 243px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 375px;
}

.monark-mono-uprising .star-half {
  background-image: url(../img/path-6-6@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 23px;
  left: 59px;
  opacity: 0.7;
  position: absolute;
  top: 37px;
  width: 23px;
}

.monark-mono-uprising .star-half-1 {
  background-image: url(../img/path-6-7@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 23px;
  left: 59px;
  opacity: 0.7;
  position: absolute;
  top: 78px;
  width: 23px;
}

.monark-mono-uprising .address {
  -webkit-text-stroke: 1px var(--white);
  left: 120px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: 44px;
  white-space: nowrap;
}

.monark-mono-uprising .x140-kb-wav-format {
  -webkit-text-stroke: 1px var(--white);
  left: 120px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: 84px;
  white-space: nowrap;
}
